body {
  padding: 0px; }

.container {
  margin: 40px;
  width: 1040px;
  height: 1996px;
  margin-left: auto;
  margin-right: auto; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; }

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 3; }

.dash {
  width: 54px;
  height: 1px;
  background-color: #85b73c;
  margin-top: 20px;
  margin-left: 60px; }

.header-text {
  width: 886px;
  height: 154px;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  color: #85b73c;
  line-height: 1.86;
  font-weight: 300;
  margin-right: 20px; }

h3 {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #2c2f46;
  font-weight: bold;
  font-stretch: normal;
  margin-left: 60px;
  margin-top: 48px;
  margin-top: 40px; }

h4 {
  font-family: "Open Sans", sans-serif;
  color: #85878f;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 6px;
  text-transform: uppercase; }

h5 {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  color: #2c2f46;
  font-weight: bold;
  font-stretch: normal;
  margin-left: 60px;
  margin-top: 48px;
  color: #2682bd;
  line-height: 22px;
  letter-spacing: normal;
  margin-top: 0px;
  text-transform: uppercase;
  font-weight: normal; }

.text-article1 {
  width: 660px;
  height: 234px;
  font-size: 14px;
  color: #85878f;
  font-family: "Open Sans", sans-serif;
  line-height: 1.86;
  margin-left: 60px; }

.text-article2 {
  width: 660px;
  height: 234px;
  font-size: 14px;
  color: #85878f;
  font-family: "Open Sans", sans-serif;
  line-height: 1.86;
  margin-left: 60px;
  width: 920px;
  height: 52px; }

.text-article3 {
  width: 660px;
  height: 234px;
  font-size: 14px;
  color: #85878f;
  font-family: "Open Sans", sans-serif;
  line-height: 1.86;
  margin-left: 60px;
  width: 434px;
  height: 312px; }

a {
  color: #2682bd; }

img {
  margin-left: 40px; }

ul {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin-left: 60px;
  margin-top: 30px;
  color: #85878f;
  font-size: 14px; }

.fav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }

.fav-header {
  width: 200px;
  text-align: center; }

.fav-margin-top {
  margin-top: 20px; }

.fav-section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  margin-right: 60px; }

.fav-section > div:nth-child(1) > div:nth-child(1) {
  width: 400px; }

.fav-icon {
  width: 42px;
  height: 42px;
  margin-left: 70px;
  font-size: 26px;
  background-color: #1e4ca8;
  color: white;
  border-radius: 25px;
  text-align: center; }

.fav-icon:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.3em;
  /* Adjusts for spacing */
  margin-top: 0.1em;
  /* Adjusts for spacing */ }

.fav-paragraph {
  color: #85878f;
  font-size: 13px;
  font-family: "Open Sans", sans-serif; }

.left {
  width: 240px; }

.right {
  width: 168px;
  text-align: center; }

table {
  border: solid 1px rgba(228, 230, 233, 0.6);
  margin: 46px 50px;
  font-family: "Open Sans", sans-serif;
  color: #85878f;
  border-spacing: 0px; }

th {
  border: solid 1px rgba(228, 230, 233, 0.6);
  color: #2c2f46;
  color: rgba(0, 0, 0, 0.5);
  background-color: #f5f7fb;
  font-size: 13px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  line-height: 1.69;
  border-top: 1px solid white;
  text-transform: uppercase; }

th:last-child {
  border-right: 1px solid white;
  width: 240px; }

th:first-child {
  border-left: 1px solid white;
  width: 180px; }

th:nth-child(2) {
  width: 292px; }

th:nth-child(3) {
  width: 240px; }

.td-first-last {
  padding-top: 30px;
  padding-bottom: 30px; }

.td-middle {
  padding-top: 19px;
  padding-bottom: 19px; }

tr td {
  border: solid 1px rgba(228, 230, 233, 0.6);
  font-size: 14px;
  vertical-align: middle;
  text-align: center; }
tr td:first-child {
  background-color: #fcfdff;
  text-align: left;
  line-height: 1.57;
  padding-left: 26px;
  padding-right: 26px; }
tr td:nth-child(3) {
  padding-left: 10px;
  padding-right: 10px; }

.fa-check {
  color: #25aa01;
  margin-right: 10px; }

.hide {
  display: none; }

@media (max-width: 600px) {
  body, html {
    margin: 0px;
    padding: 0px; }

  .container {
    width: 320px;
    margin-top: 30px; }

  .dash {
    width: 24px;
    margin-left: 10px;
    margin-top: 15px; }

  .header-text {
    width: 266px;
    height: 338px;
    font-size: 18px;
    line-height: 1.44;
    margin-right: 10px; }

  h3 {
    margin-left: 10px; }

  .text-article1 {
    width: 300px;
    margin-left: 10px;
    height: 408px; }

  img {
    width: 320px;
    margin-left: 0px; }

  .text-article2 {
    width: 300px;
    margin-left: 10px;
    height: 120px;
    margin-bottom: 30px; }

  ul {
    width: 233px;
    margin-left: 10px;
    margin-top: 10px; }

  .fav {
    width: 64px; }

  .fav-header {
    width: 145px; }

  .right {
    width: 145px; }

  .fav-margin-top {
    width: 145px; }

  .fav-section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
    margin-right: 0px; }

  .fav-icon-mobile {
    margin-left: 50px; }

  .mob-width {
    width: 42px;
    margin-left: 10px; }

  .mob-margin {
    width: 145px; }

  .mob-wrap {
    display: inline-block;
    width: 145px; }

  .mob-flex-rev {
    flex-direction: column-reverse; }

  .double-column {
    margin-right: 15px; }

  .text-article3 {
    width: 300px;
    margin-left: 10px;
    height: 408px; }

  h5 {
    margin-left: 10px; }

  table {
    display: none;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-top: 10px; }

  tr td:last-child {
    width: 150px; }
  tr td:first-child {
    background-color: #fcfdff;
    padding-left: 10px;
    padding-right: 10px; }

  .hide {
    display: inline; } }

/*# sourceMappingURL=style.css.map */
