<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <title>Cms Page</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="dash"></div>
            </div>
            <div class="column">
                <div class="header-text">
                    Most important information goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet vestibulum ligula, eu ultricies nibh. Sed eu dolor neque. Vestibulum rhoncus ligula a leo placerat, vitae scelerisque purus malesuada. Pellentesque vel fringilla lacus. Mauris auctor lectus eget eros dapibus imperdiet. Maecenas at placerat odio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="header">
                    <h3>Courier Delivery Service</h3>
                </div>
            </div>
        </div>
        <div class="row mob-flex-rev">
            <div class="column">
                <div class="text-article1">
                JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products). It is important that you provide correct address information. If after three failed attempts of delivering your products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store that sent the product out. At this point, a refund will be given to you for only the products.
                <p>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery. You will be able to start tracking your order at
                    <a href="http://www.purolator.com">http://www.purolator.com</a> once Purolator picks up the products from the JYSK store.
                </p>
                </div>
            </div>
            <div class="column">
                <img src="{{view url='images/bus.png'}}" alt="Delivery bus">
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h3>Local Delivery Service</h3>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="text-article2">
                JYSK.lv uses 3rd party delivery companies to send furniture and mattress products. All deliveries will be a two man service and will be either first-point-of-entry or any room in the house depending on location.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="list">
                    <ul>
                        <li>The best shipping company in the world</li>
                        <li>Another bullet point outlining the good local deliveries</li>
                        <li>The third bullet point example</li>
                    </ul>
                </div>
            </div>
        </div>
     <div class="fav-section">
        <div class="row">
            <div class="column">
                <div class="row">
                    <div class="column">
                        <div class="fav">
                        <div class="fav-icon mob-width">
                            <i class="far fa-envelope"></i>
                        </div>
                        </div>
                    </div>
                    <div class="double-column">
                            <h4>Saņem atlaides kodu</h4>
                            <div class="fav-paragraph left">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu. </div>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="fav">
                        <div class="fav-icon mob-width">
                            <i class="fas fa-shopping-basket"></i>
                        </div>
                        </div>
                    </div>
                    <div class="double-column">
                            <h4>Saņem atlaides kodu</h4>
                            <div class="fav-paragraph left">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu. </div>
                        </div>
                </div>
            </div>
            <div class="column">
                <div class="row">
                <div class="column mob-wrap">
                    <div class="fav-margin-top">
                    <div class="fav-icon fav-icon-mobile">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="fav-header">
                        <h4 class="right">Saņem atlaides kodu</h4>
                        <div class="fav-paragraph right">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu. </div>
                    </div>
                    </div>
                </div>
                <div class="column mob-wrap">
                    <div class="fav-margin-top">
                    <div class="fav-icon fav-icon-mobile">
                        <i class="fas fa-shopping-basket"></i>
                    </div>
                    <div class="fav-header">
                        <h4 class="right">Saņem atlaides kodu</h4>
                        <div class="fav-paragraph right">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu. </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
     </div>
        <div class="row">
            <div class="column">
                <div class="half-column">
                    <h3>Half column content</h3>
                    <div class="text-article3">
                        JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products). It is important that you provide correct address information. If after three failed attempts of delivering your products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store that sent the product out. At this point, a refund will be given to you for only the products.

                        <p>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery. You will be able to start tracking your order at <a href="http://www.purolator.com">http://www.purolator.com</a> once Purolator picks up the products from the JYSK store.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="half-column">
                    <h3>Half column content</h3>
                    <div class="text-article3">
                        JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products). It is important that you provide correct address information. If after three failed attempts of delivering your products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store that sent the product out. At this point, a refund will be given to you for only the products.

                        <p>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery. You will be able to start tracking your order at <a href="http://www.purolator.com">http://www.purolator.com</a> once Purolator picks up the products from the JYSK store.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h3>Local Delivery Service</h3>
            </div>
        </div>
        <div class="row">
            <div class="column">
                    <h5>Heading 2 Subtitle</h5>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="text-article2">
                    JYSK.lv uses 3rd party delivery companies to send furniture and mattress products. All deliveries will be a two man service and will be either first-point-of-entry or any room in the house depending on location.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <table class="table-style">
                    <tr>
                        <th></th>
                        <th>A Table Example Column 1</th>
                        <th>Another Column</th>
                        <th>Last columns</th>
                    </tr>
                    <tr>
                        <td class="td-first-last">Row title in two lines lorem ipsum</td>
                        <td>Some text aligned in center of cell</td>
                        <td>Second row example</td>
                        <td>Last column row</td>
                    </tr>
                    <tr>
                        <td class="td-middle">Small row title</td>
                        <td>Lorem ipsum dolor jysk amet</td>
                        <td>Consectuam</td>
                        <td><i class="fas fa-check"></i>Integrated</td>
                    </tr>
                    <tr>
                        <td class="td-middle">Small row title</td>
                        <td>Lorem ipsum dolor jysk amet</td>
                        <td><i class="fas fa-check"></i>Yes</td>
                        <td>This was an empty cell</td>
                    </tr>
                    <tr >
                        <td class="td-first-last">Row title
                            in three long lines
                            to show fluidity</td>
                        <td>Two lines content<br>
                            can go there</td>
                        <td>Numbers of row is unlimited, and the content will stretch according to it</td>
                        <td>Two lines content<br>
                            can go there</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <table class="table-style hide">
                    <tr>
                        <th colspan="2">A Table Example Column 1</th>
                    </tr>
                    <tr>
                        <td class="td-first-last">Row title in two lines lorem ipsum</td>
                        <td>Some text aligned in center of cell</td>
                    </tr>
                    <tr>
                        <td class="td-middle">Small row title</td>
                        <td>Lorem ipsum dolor jysk amet</td>
                    </tr>
                    <tr>
                        <td class="td-middle">Small row title</td>
                        <td>Lorem ipsum dolor jysk amet</td>
                    </tr>
                    <tr >
                        <td class="td-first-last">Row title
                            in three long lines
                            to show fluidity</td>
                        <td>Two lines content<br>
                            can go there</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <table class="table-style hide">
                    <tr>
                        <th colspan="2">Another Column</th>
                    </tr>
                    <tr>
                        <td class="td-first-last">Row title in two lines lorem ipsum</td>
                        <td>Second row example</td>
                    </tr>
                    <tr>
                        <td class="td-middle">Small row title</td>
                        <td>Consectuam</td>
                    </tr>
                    <tr>
                        <td class="td-middle">Small row title</td>
                        <td><i class="fas fa-check"></i>Yes</td>
                    </tr>
                    <tr >
                        <td class="td-first-last">Row title
                            in three long lines
                            to show fluidity</td>
                        <td>Numbers of row is unlimited, and the content will stretch according to it</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <table class="table-style hide">
                    <tr>
                        <th colspan="2">Another Column</th>
                    </tr>
                    <tr>
                        <td class="td-first-last">Row title in two lines lorem ipsum</td>
                        <td>Last column row</td>
                    </tr>
                    <tr>
                        <td class="td-middle">Small row title</td>
                        <td><i class="fas fa-check"></i>Integrated</td>
                    </tr>
                    <tr>
                        <td class="td-middle">Small row title</td>
                        <td>This was an empty cell</td>
                    </tr>
                    <tr >
                        <td class="td-first-last">Row title
                            in three long lines
                            to show fluidity</td>
                        <td>Two lines content<br>
                            can go there</td>
                    </tr>
                </table>
            </div>
        </div>


    </div>
</body>
</html>
